extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.about;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
    main
        //
            Section-name
            ==================================================
        section.baner.has-bg
            .bg.bg_cover.baner__bg
                picture
                //- source(media='(max-width: 575px)' srcset='img/' type='image/jpg')
                |
                |
                img(src='img/baner-bg.jpg' alt='')

            .container
                .section__heading.section__heading_brand
                    h2(style="color: #fafafa") Страница находится в разработке. 
                    
                    h1(style="color: #fafafa; text-align: center;") Скоро здесь появится много полезной информации.


//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!