extends ../_templates/_base.pug

block page-vars
  -
    let page = pages.about;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  main
    //
      Section-name
      ==================================================    
    .page-content
      .page-content-header
        .container

          nav.breadcrumbs
            ol 
              li.breadcrumbs__item 
                a(href="#") Главная
              li.breadcrumbs__item О компании

          .page-content-heading 
            h1
              span.font_xlite О компании




      .post-wrapper
        .container
          article.post
            .post-thumb.post-thumb_about 
              picture
                //- source(media='(max-width: 575px)', srcset='img/', type='image/jpg')
                |
                |
                img(src='img/about-banner-1920.jpg', alt='')



              .adv-card-wrapper 
                .adv-card 
                  .adv-card__value &gt;760
                  .adv-card__text
                    |ПРЕСС-ФОРМ 
                    br
                    |ЗАПУЩЕНО В РАБОТУ
                .adv-card 
                  .adv-card__value &gt;12
                  .adv-card__text
                    | ЛЕТ НА РЫНКЕ
                    br
                    | ПРОИЗВОДСТВА 

            .post-content 
              .post-heading 
                h3 Фока Дока - изготовление прессформ

              .post-content-section 
                p Мы открыли предприятие в 2008 году. За годы работы мы помогли запустить около 400 проектов с более чем 100 компаниями в России. Большинство клиентов довольны нашим сотрудничествоми готовы рекомендовать нас как надежных поставщиков пресс-форм и продукции из пластика и цветного металла. Мы гордимся нашими результатами и готовы поделиться с вами отзывами наших клиентов. Обратитесь к нам за бесплатной консультацией и узнайте о всех наших услугах или звоните по телефону и мы с радостью расскажем вам о наших предложениях.

              section.post-content-section 
                .post-content-section-heading
                  h4 Литье металлов в землю
                p Литье металлов в землю, также известное как литье в земляную форму, является одним из традиционных методов литья металлов. Этот метод предполагает создание формы для литья, используя землю и специальный песчаный состав, который затем заполняется расплавленным металлом. Процесс литья металлов в землю начинается с изготовления формы, которая обычно состоит из земли, связующего материала и шаблона, который определяет форму детали. В земплю помещается шаблон, и затем форма уплотняется и закрепляется. После этого расплавленный металл заливается в форму через отверстие. Под воздействием гравитации металл заполняет полость формы и затвердевает.







      section.section.calc-order.has-bg.section_text-lite
        .bg.bg_cover
          picture
            //- source(media='(max-width: 575px)' srcset='img/' type='image/jpg')
            |
            |
            img(src='img/calc-order-bg.jpg' alt='')


        .container 
          .section__heading.section__heading_brand.text-center.calc-order__heading
            h2 
              span.font_xlite Рассчитать 
              | заказ
            p Опишите кратко желаемый результат и прикрепите файл для расчета


          form#calcOrderForm.form.calc-order__form.form_dark-bg(enctype="multipart/form-data" name="calcOrder" data-action="send-order.php")
            .form-row

              .form__group.calc-order__form-group
                label.form__label.form__label_lite(for="userName")  Ваше имя:
                input#userName.form__control(type="text", name="userName", required)

              .form__group.calc-order__form-group
                label.form__label.form__label_lite(for="userPhone")  Телефон:
                input#userPhone.form__control(type="text", name="userPhone", required)

              .form__group.calc-order__form-group
                label.form__label.form__label_lite(for="userEmail") Email:
                input#userEmail.form__control(type="email", name="userEmail", required)

            .form__group.calc-order__form-group
              label.form__label.form__label_lite(for="userMsg") Тираж деталей, материал:
              textarea#userMsg.form__textarea(name="userMsg")


            .form__group.form__group_type-file
              label.form__label.form__label_lite.form__label_type-file(for="userFile") 
                i.form-screp
                span Прикрепить чертеж 
                span.file-extname  (pdf, 
                span.file-extname  jpg, 
                span.file-extname  jpeg), 
                span  3D модель 
                span.file-extname  (step, x_t, stl)

              input#userFile.form__file(type="file", name="file[]", multiple)
              .form__file_selected.form__file_selected-lite


            .form__submit-row 
              button.btn.btn_primary.form__submit(type="submit") отправить заказ
              .form__agree-text 
                p Нажимая на кнопку “Отправить”, я даю согласие на обработку 
                  a.text-link.text-link_lite(href="#", target="_blank") персональных данных




//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!