extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.gallery;

//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
    main
        //
            Section-name
            ==================================================
        section.section
            .container
                h1 Фока Дока - Галерея работ


//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!