header.header
  .blue-panel 
    .container.blue-panel__container
      .blue-panel__logo 
        picture
          source(srcset='img/768/logo-white-tabl.webp', type='image/webp')
          |
          |
          img(src='img/768/logo-white-tabl.png', alt='Логотип')
      .blue-panel__text
        p 
          |Уникальное коллекционное издание в честь последнего Российского Императора - 
          span.text-uppercase.text-light БЕСПЛАТНО
          |. Не упустите редчайшую возможность оформить заказ

  
  .container 
    .row.header-row
      .logo.header-logo
        picture
          source(media='(max-width: 575.98px)', srcset='img/360/logo-mob.webp', type='image/webp')
          source(media='(max-width: 575.98px)', srcset='img/360/logo-mob.png', type='image/png')
          source(srcset='img/logo.webp', type='image/webp')
          |
          |
          img(src='img/logo.png', alt='Логотип')
      .header-heading 
        h1
          |Сегодня для вас юбилейная медаль 
          span.text-accent бесплатно