# Папка с прочими вспомогательными материалами
other
# Папка node_modules соответственно
node_modules
# Папка со скомпилированным проектом ненужна пока работаю на локальной машине
# public
# Папка с временными файлами
tmp
# 
package-lock.json