//- Разметка заглушки для Internet Explorer
#ieBung.ie-bung
    .ie-bung__content 
        .ie-bung__header 
            .ie-bung__smile
                i.sad-icon
            h2 К сожалению, мы больше не поддерживаем этот браузер...
        .ie-bung__main 
            p Для корректного отображения данного сайта Вы можете выбрать и скачать последнюю версию любого из наиболее популярных браузеров по ссылкам ниже:
        .ie-bung__footer
            .ie-bung__links 
                a(href="https://www.google.com/intl/ru_ru/chrome/", target="_blank", title="Скачать Chrome") 
                    i.chrome
                a(href="https://browser.yandex.ru/", target="_blank", title="Скачать Yandex") 
                    i.yandex
                a(href="https://www.mozilla.org/ru/firefox/", target="_blank", title="Скачать Firefox") 
                    i.firefox
                a(href="https://www.opera.com/ru", target="_blank", title="Скачать Opera") 
                    i.opera
                a(href="https://www.microsoft.com/ru-ru/edge", target="_blank", title="Скачать Microsoft Edge") 
                    i.edge