//- Common variables
-
  let author = 'Artem Dots'
  let themeColor = '#204687'

  // Если требуется заглушка для Internet Explorer
  let ieBung = false

  //- Массив наименований шрифтов для перебора в head.pug и предзагрузки
  let fontsPreload = [
    'GillSansC-Regular.woff2',
    'GillSansC-Light.woff2',
    'GillSansC-Bold.woff2',
    'GillSansC-BoldItalic.woff2'
    ]
  
  //- ! URL определяется автоматом в миксине "меню" : pages-key+.html
  let pages = {
    index: {
      name:   'главная',
      title:  'Европейский монетный двор - главная',
      descr:  'Сегодня для вас юбилейная медаль бесплатно',
      author:  author,
    }
  };