footer.footer#footer
  |
  |
  .map-placement
    .map.map-placement__map#fokaMap

    .map-placement__interlayer

    .container.map-placement__container
      .contacts-card

        .contacts-card__header
          .logo.contacts-card__logo
            a(href="#") 
              img(src="img/logo.svg" alt="Логотип")

        .contacts-card__body 

          .contacts-card__item 
            .icon-rounded.contacts-card__icon 
              img(src="img/icon-location.svg" alt="")
            p Санкт-Петербург, Малый проспект Васильевского острова, 57к4, 

          .contacts-card__item 
            a(href="tel:79523702442" target="_balank").text-contact-link 
              .icon-rounded.contacts-card__icon
                img(src="img/icon-phone.svg" alt="")
              span +7 (952) 370-24-42


          .contacts-card__item 
            a(href="mailto:zakaz@fokadoka.ru" target="_balank").text-contact-link 
              .icon-rounded.contacts-card__icon 
                img(src="img/icon-envelope.svg" alt="")
              span zakaz@fokadoka.ru

        .contacts-card__footer.align-items-left_xxs
          a.social.contacts-card__social(href="#", target="_blank") 
            img(src="img/icon-wha.svg" alt="")
          a.social.contacts-card__social(href="#", target="_blank") 
            img(src="img/icon-tlg.svg" alt="")
          a.social.contacts-card__social(href="https://vk.com/foka_doka", target="_blank") 
            img(src="img/icon-vk.svg" alt="")


  |
  |
  .site-dev 
    .container 
      a.site-dev__link(href="https://profoxgroup.ru/" target="_blank") Разработка - ProFox




  |
  |
  // MODAL
  .modal#send-order-modal
    .modal__inner
      button.modal__close 

      .modal__content
        .modal__header
          .section__heading.section__heading_brand.text-center.calc-order__heading
            h2 
              span.font_xlite Рассчитать 
              | заказ
            p Опишите кратко желаемый результат и прикрепите файл для расчета


        .modal__body
          form#calcOrderFormModal.form.calc-order__form(enctype="multipart/form-data" name="calcOrderModal" data-action="send-order.php")
            .form-row

              .form__group.calc-order__form-group
                label.form__label(for="userName2")  Ваше имя:
                input#userName2.form__control(type="text" name="userName", required)

              .form__group.calc-order__form-group
                label.form__label(for="userPhone2")  Телефон:
                input#userPhone2.form__control(type="text" name="userPhone", required)

              .form__group.calc-order__form-group
                label.form__label(for="userEmail2") Email:
                input#userEmail2.form__control(type="email" name="userEmail", required)

            .form__group.calc-order__form-group
              label.form__label(for="userMsg2") Тираж деталей, материал:
              textarea#userMsg2.form__textarea(name="userMsg")


            .form__group.form__group_type-file
              label.form__label.form__label_type-file(for="userFile2") 
                i.form-screp.form-screp_red
                span Прикрепить чертеж 
                span.file-extname  (pdf, 
                span.file-extname  jpg, 
                span.file-extname  jpeg), 
                span  3D модель 
                span.file-extname  (step, x_t, stl)

              input#userFile2.form__file(type="file" name="file[]", multiple)
              .form__file_selected


            .form__submit-row 
              button.btn.btn_primary.form__submit(type="submit") отправить заказ
              .form__agree-text 
                p Нажимая на кнопку “Отправить”, я даю согласие на обработку 
                  a.text-link(href="#" target="_blank") персональных данных

  //- <div class="thanks thanks_success active"><div class="thanks__content"><div class="thanks__title"><span class="text_accent-prim">Спасибо,</span> ваш заказ отправлен!</div><div class="thanks__subtitle">В ближайшее время с вами свяжется наш специалист</div></div><div class="thanks__close"></div></div>

script(src="https://api-maps.yandex.ru/v3/?apikey=3992c7b0-d1fe-4f2d-bb99-d8fe4dbbdde3&lang=ru_RU")
//- script(src="https://api-maps.yandex.ru/v3/?apikey=a13b032f-1317-4300-b260-6e7d33049787&lang=ru_RU")

//- LOCAL SCRIPTS  
//- Map
script(src="js/map.js") 
script.
  window.map = null;

  main();
  async function main() {
    await ymaps3.ready;
    const {
      YMap,
      YMapDefaultSchemeLayer,
      YMapMarker,
      YMapControls,
      YMapDefaultFeaturesLayer,
    } = ymaps3;

    const { YMapZoomControl } = await ymaps3.import(
      "@yandex/ymaps3-controls@0.0.1"
    );
    const { YMapDefaultMarker } = await ymaps3.import(
      "@yandex/ymaps3-markers@0.0.1"
    );

    map = new YMap(document.getElementById("fokaMap"), { location: LOCATION, behaviors: [
      'drag',
      'pinchZoom',
      'dblClick',
      ] });

    map.addChild((scheme = new YMapDefaultSchemeLayer()));
    map.addChild(
      new YMapControls({ position: "right" }).addChild(
        new YMapZoomControl({})
      )
    );
    map.addChild(new YMapDefaultFeaturesLayer({ id: "features" }));

    POINTS.forEach((point) => {
      if (point.element) {
        map.addChild(new YMapMarker(point, point.element(point)));
      } else {
        map.addChild(new YMapDefaultMarker(point));
      }
    });
  }

  // M A P   S E T   L O C A T I O N
  let windowWidth;
  function setMapLocation() {
    windowWidth = document.documentElement.clientWidth;
    windowWidth > 575
      ? map.setLocation({ center: [30.251826, 59.9455], zoom: 17 })
      : map.setLocation({center: [30.2533, 59.9462], zoom: 17})
  }
  window.addEventListener('load', setMapLocation)
  window.addEventListener("resize", setMapLocation);
  // ======================================================
  