| 
//  Basic Page Needs ==============================================
meta(charset="UTF-8")
title= page ? page.title : 'Укажите название страницы'
meta(name="description", content= (page) ? page.descr : 'Укажите описание страницы')
meta(name="author", content= (page) ? page.author : 'John Doe')
meta(name="robots" content="noindex, nofollow")
meta(name="theme-color", content= (themeColor) ? themeColor : '#000')


|
|
//  Fonts preload ==================================================
//- Перебор всех наименований шрифтов, указанных в переменной fontspreload файла _vars.pug
each val in fontsPreload
  link(rel="preload" as="font" href=`fonts/${val}` type="font/woff2" crossorigin="anonymous")


|
|
//  Mobile Specific Metas ==================================================
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")


|
|
//  CSS ==================================================
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
link(rel="stylesheet" href="libs/fancybox.css")
//- link(rel="stylesheet" href="libs/swiper.min.css")
//- link(rel="stylesheet" href="libs/animate.min.css")
link(rel="stylesheet" href="css/style.css")




//- СТИЛИ ДЛЯ ПОДДЕРЖКИ РАЗНЫХ ВЕРСИЙ IE 
//-----------------------------------------------------

//- Стили для IE >= 10
//- правило не работает отсюда - т.к. подключаются в layout.scss
//- link(rel="stylesheet" href="css/gte-ie10-style.css")

//- Стили для IE < 10

//- [if lt IE 10]><link rel="stylesheet" href="css/lt-ie10-style.css"><![endif]


|
|
//  Favicons ==================================================
//- Старый способ - подержка в IE10 
//- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

//- SVG иконка для вкладок, размер "любой"
link(rel="icon" href="img/favicons/favicon.svg" sizes="any" type="image/svg+xml")
//- Или .png иконка размерами 16x16 и 32x32-для ретины
//- Touch иконка работает на iPad4,
//- не работает svg, формат .png для Apple 180x180
link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" type="image/png")
//- Manifest пока в основном для touch иконок для Android - минимум 192x192
link(rel="manifest" href="manifest.webmanifest")


//- script(src="https://api-maps.yandex.ru/v3/?apikey=3992c7b0-d1fe-4f2d-bb99-d8fe4dbbdde3&lang=ru_RU")
//- //- script(src="https://api-maps.yandex.ru/v3/?apikey=a13b032f-1317-4300-b260-6e7d33049787&lang=ru_RU")
//- script(src="js/common.js") 
//- script(src="js/map.js") 
//- script.
//-   window.map = null;

//-   main();
//-   async function main() {
//-     await ymaps3.ready;
//-     const {
//-       YMap,
//-       YMapDefaultSchemeLayer,
//-       YMapMarker,
//-       YMapControls,
//-       YMapDefaultFeaturesLayer,
//-     } = ymaps3;

//-     const { YMapZoomControl } = await ymaps3.import(
//-       "@yandex/ymaps3-controls@0.0.1"
//-     );
//-     const { YMapDefaultMarker } = await ymaps3.import(
//-       "@yandex/ymaps3-markers@0.0.1"
//-     );

//-     map = new YMap(document.getElementById("fokaMap"), { location: LOCATION });

//-     map.addChild((scheme = new YMapDefaultSchemeLayer()));
//-     map.addChild(
//-       new YMapControls({ position: "right" }).addChild(
//-         new YMapZoomControl({})
//-       )
//-     );
//-     map.addChild(new YMapDefaultFeaturesLayer({ id: "features" }));

//-     POINTS.forEach((point) => {
//-       if (point.element) {
//-         map.addChild(new YMapMarker(point, point.element(point)));
//-       } else {
//-         map.addChild(new YMapDefaultMarker(point));
//-       }
//-     });
//-   }



script(src="js/online-chat.js") 